.empresa-origem {
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    display: flex;
    background-color: #f9f9f9;
}

.origem-texto {
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.origem-texto p {
    text-align: center;
    font-size: larger;
    padding-right: 2%;
    padding-top: 3%;
}

.origem-imagem{
    display: flex;
    align-items: center;
    width: 300px;
}

.imagem-jovem{
    border-radius: 10px;
    height: 240px;
}