/* Fale.css */
.marmita {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding: 20px;
}

.marmitas-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.cardapios {
    margin-top: 20px;
    padding-left: 20px;
}

.cardapioStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-radius: 30px;
}

.botoes-div{
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.botao-whats{
    padding-right: 10px;
    font-weight: bold;
}

.botao-whats button {
    padding: 20px 30px 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #288a7e;
    color: white;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  .botao-whats button:hover {
    background-color: #13695f;
  }

  .botao-ifood{
    padding-left: 10px;
}

  .botao-ifood button {
    padding: 20px 30px 20px 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #e73e3e;
    color: white;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  .botao-ifood button:hover {
    background-color: rgb(209, 49, 49);
  }

  @media screen and (max-width: 430px) {

    .marmita {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      flex-direction: column;
      padding: 20px;
  }
  
  .marmitas-div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-top: 20px;
      flex-wrap: wrap;
      margin-bottom: 50px;
  }
  
  .cardapios {
      margin-top: 20px;
      padding-left: 0px;
      padding-right: 10px;
  }
  
  .cardapioStyle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 250px;
      border-radius: 30px;
  }
  
  .botoes-div{
      padding: 30px;
      display: flex;
      flex-direction: row;
  }
  
  .botao-whats{
      padding-right: 10px;
      font-weight: bold;
  }
  
  .botao-whats button {
      padding: 20px 30px 20px 30px;
      border: none;
      cursor: pointer;
      border-radius: 20px;
      background-color: #288a7e;
      color: white;
      font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    
    .botao-whats button:hover {
      background-color: #13695f;
    }
  
    .botao-ifood{
      padding-left: 10px;
  }
  
    .botao-ifood button {
      padding: 20px 30px 20px 30px;
      border: none;
      cursor: pointer;
      border-radius: 20px;
      background-color: #e73e3e;
      color: white;
      font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    
    .botao-ifood button:hover {
      background-color: rgb(209, 49, 49);
    }
  }

