.menu-header {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    display: flex;
    left: 100px;
    position: relative;
    align-items: center;
    height: 50px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }

  .menu-container {
    width: 100px; 
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 100px;
    left: 100px;
    position: relative;
    white-space: nowrap;
  }
  
  li {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #2c90ee; 
  }

  .logo-container {
    display: flex;
    align-items: center;
    width: 150px;
  }

  .logo {
    height: 110px;
    margin-right: 10px; 
  }

  .menu-container ul li.active,
  .menu-container ul li.active a {
    border-bottom: 2px solid #2c90ee; /* Substitua #ff0000 pela cor desejada */
    color: #2c90ee; /* Adicione esta linha para definir a cor do texto ativo */
  }

  /* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
  .menu-header {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    display: flex;
    left: auto;
    position: relative;
    align-items: center;
    height: 50px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    left: 0px;
  }

  ul.active {
    display: flex;
  }

  li {
    margin: 10px 0;
  }

  .logo-container {
    display: flex;
    align-items: center;
    width: 150px;
  }

  .logo {
    height: 110px;
    margin-right: 10px; 
  }

  .mobile-icon {
    display: block;
    cursor: pointer;
  }

  .mobile-icon.active svg {
    color: #2c90ee;
  }

  .menu-container ul li.active,
  .menu-container ul li.active a {
    border-bottom: 2px solid #ff0000; /* Substitua #ff0000 pela cor desejada */
    color: #ff0000; /* Adicione esta linha para definir a cor do texto ativo */
  }
  }

  /* Estilos para dispositivos iphone */
  @media screen and (max-width: 430px) {
    .menu-header {
      background-color: #fff;
      color: #fff;
      padding: 20px;
      display: flex;
      left: auto;
      position: relative;
      align-items: center;
      height: 50px;
    }
  
    ul {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      left: 0px;
    }
  
    ul.active {
      display: flex;
    }
  
    li {
      margin: 10px 0;
      font-size: 10px;
    }
  
    .logo-container {
      display: flex;
      align-items: center;
      width: 10px;
      margin-right: 40px;
    }
  
    .logo {
      height: 50px;
      margin-right: 10px; 
    }

    a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      font-size: 11px;
      transition: color 0.3s ease-in-out;
    }
  
    .mobile-icon {
      display: block;
      cursor: pointer;
    }
  
    .mobile-icon.active svg {
      color: #2c90ee;
    }

    .menu-container ul li.active,
    .menu-container ul li.active a {
      border-bottom: 2px solid #2c90ee; /* Substitua #ff0000 pela cor desejada */
      color: #2c90ee; /* Adicione esta linha para definir a cor do texto ativo */
    }
    }