.menu-header {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    display: flex;
    left: 100px;
    position: relative;
    align-items: center;
    height: 50px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }

  .menu-container {
    width: 100px; 
  }
  
  ul {
    list-style: none;
    display: flex;
    gap: 100px;
    left: 100px;
    position: relative;
    white-space: nowrap;
  }
  
  li {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #2c90ee; 
  }

  .logo-container {
    display: flex;
    align-items: center;
    width: 150px;
  }

  .logo {
    height: 110px;
    margin-right: 10px; 
  }